
<div class="col-md-3 mb-4">
  <div class="card bg-<%= bg_color %> text-white">
    <div class="card-body">
      <h5 class="card-title"><%= title %></h5>
      <h2 class="display-4"><%= value %></h2>
      <p class="card-text"><%= description %></p>
    </div>
  </div>
</div>