<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <i class="fas fa-user-edit me-1"></i>
      Editar Usuario
    </div>
    <div class="card-body">
      <%= render 'form', user: @user %>
    </div>
  </div>
</div> 